.error {
    text-align: center;
    padding: 25px 50px;

    h1 {
        font-size: 150px;
        color: #FF6060;
        margin: 0;
        line-height: 1;
    }

    p {
        font-size: 19px;
        color: #FF6060;
        margin: 40px 0 60px 0;
    }

    a {
        color: black;
        font-size: 14px;
        text-decoration: underline;
    }
}