.logement {
    padding: 20px;

    h1 {
        font-size: 24px;
        color: #FF6060;
        margin: 20px 0 10px 0;
        text-align: left;
    }

    p {
        font-size: 14px;
        margin-bottom: 10px;
        text-align: left;
    }
}

.logement-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;
}

.logement-gauche {
    display: flex;
    flex-direction: column;
}

.logement-droite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.collapses {
    display: flex;
    gap: 40px;
    margin: 20px 0;

    .collapse {
        flex: 1;
    }
}

.tags {
    display: flex;
    gap: 10px;
    margin: 10px 0;

    span {
        background-color: #FF6060;
        color: white;
        padding: 5px 15px;
        border-radius: 5px;
        font-size: 14px;
    }
}

.rating {
    display: flex;
    gap: 5px;
    margin: 10px 0;

    .fa-star {
        color: #E3E3E3;
        font-size: 20px;
    }

    .fa-star.active {
        color: #FF6060;
    }
}

.host {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;

    p {
        color: #FF6060;
        font-size: 14px;
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .collapses {
        flex-direction: column;
    }

    .logement-droite {
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
}


@media (max-width: 768px) {
    .logement {
        padding: 10px;
    }

    .collapses {
        flex-direction: column;
        gap: 20px;
    }
    .logement-info {
        flex-direction: column;
    }

    .logement-droite {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-direction:row-reverse;
    }

    .logement-gauche {
        padding-right: 10px;
        font-size: 45px;

    }
}