.collapse {
    margin: 10px 0;
    width: 85%;

    .collapse-header {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FF6060;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;

        button {
        background: none;
        border: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    
    }

    .arrow {
        transition: transform 0.3s;
    }

    .arrow.open {
        transform: rotate(180deg);
    }

    .collapse-content {
        background-color: #f6f6f6;
        padding: 20px;
        border-radius: 0 0 5px 5px;
        width: 90%;
    }
}   